*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(6, 30, 4, 0.7),rgba(6, 30, 4, 0.7)),url(Images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #6D9B51;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #6D9B51;
    background: #6D9B51;
    transition: 1s;
}

nav .material-icons {
    display: none;
}

/* small screen support*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 9px;
        color: #fff;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #6D9B51;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px; 
        text-align: left;
        z-index: 2;
        transition: right 0.5s; 
    }
    nav .material-icons {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.renewableEnergyTypes{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    justify-content: space-between;
}
.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.typesCol{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.typesCol img{
    width: 100%;
    display:block;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background:rgba(109, 155, 81, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color:#fff;
    font-size: 26px;
    top:60%;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    top:30%;
    bottom: 49%;
    opacity: 1;
}
.layer p {
    font-weight: 500; 
    color: #fff;
    font-size: 9px; 
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: 0.5s;
}
.layer:hover p {
    top: 40%;
    opacity: 1;
}
@media(max-width: 700px) {
    .row{
        flex-direction: column;
    }    
}

.renewableEnergyDisrupt {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    background-color: rgba(69, 98, 52, 0.8);
    background-position: center;
    padding: 50px;
    box-sizing: border-box;
}
.renewableEnergyDisrupt h3{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}
.renewableEnergyDisrupt p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    justify-content: space-between;
}
.read-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    margin-top: 10px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.read-btn:hover{
    border: 1px solid #6D9B51;
    background: #6D9B51;
    transition: 1s;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 20px 0; 
}
.footer h4 {
    margin-bottom: 15px; 
    margin-top: 15px; 
    font-weight: 600;
}

/*About Page*/

.aboutHeader{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(6, 30, 4, 0.7),rgba(6, 30, 4, 0.7)),url(Images/about-banner.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.aboutHeader h1{
    margin-top: 50px;
}

.aboutUs{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.aboutCol{
    flex-basis: 48%;
    padding: 30px 2px;
}
.aboutCol img{
    width: 100%;
}
.aboutCol h1{
    padding-top: 10px;
}
.aboutCol p{
    padding: 15px 0 25px;
}

.aboutTeam{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    justify-content: space-between;
}

.aboutTeam {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
}

.teamRows {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamRow {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.teamMember {
    flex-basis: 30%;
    text-align: center;
    margin: 0 50px;
}

.memberPhoto {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto 10px;
}
h3 {
    font-size: 16px;
    margin: 5px 0;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
p {
    font-size: 14px;
    color: #777;
    margin: 0;
}
@media (max-width: 700px) {
    .teamRow {
        flex-direction: column; 
        align-items: center;
    }
    .teamMember {
        flex-basis: 100%; 
    }
}



